<!DOCTYPE html>
<html xmlns:th="http://thymeleaf.org">

<head>
    <title>
    Users
    </title>
</head>


<body>
    <table>
        <thead>
            <tr>
                <th>
                    Id
                </th>
                <th>
                    Username
                </th>
                <th>
                    Password
                </th>
                <th>
                    Action
                </th>
            </tr>
        </thead>
        <tbody>
            <tr th:each="user : ${userList}">
                <td th:text="${user.id}"/>
                <td th:text="${user.username}"/>
                <td th:text="${user.password}"/>
                <td>
                    <a th:href="@{/users/delete(id=${user.id})}">
                        Delete
                    </a>
                </td>
            </tr>

        </tbody>
    </table>
</body>
</html>